@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: #6366f1;
}

html, body, #root {
  height: 100%;
}

body {
  @apply antialiased;
  font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

/* small helpers for dark mode preview */
@media (prefers-color-scheme: dark) {
  :root { color-scheme: dark; }
}

